.thumbnail img{
    width: 100%;
}

.thumbnail {
    padding : 0;
}

.thumbnail .caption-full{
    padding: 9px;
}

#delete-form {
    display: inline;
}

#trade-mark {
    position: absolute;    
    bottom: 0;
}

html {
    min-height: 100%;
    position: relative;
}

body{
    margin: 0 0 50px;
}